.headertitle{
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;*/

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ulnavigator{
    display: flex;
    margin: 10px;
    gap: 10px;
}