.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
        display: flex;
    align-items: flex-start;
  background: white;
  padding: 24px;
  border-radius: 8px;
  min-width: 400px;
}